# Private config options for TF-M secure provisioning application

# Copyright (c) 2021 Linaro
# SPDX-License-Identifier: Apache-2.0

mainmenu "TF-M secure inference sample application"

menu "Application configuration"

module = PSA
module-str = psa
source "subsys/logging/Kconfig.template.log_config"

endmenu

config SECURE_INFER_SHELL_CMD_SUPPORT
	bool "Enable custom shell commands for secure inference"
	depends on SHELL
	help
	  Enabling this option will make secure inference shell commands available.

source "Kconfig.zephyr"
